# Python
__pycache__/
*.py[cod]
*.pyo
_init_.py

# Virtual environment
venv/
.env/
.env
# Models
models/
models_cad/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# 3d models
sofa 3d models/

backups/old outputs/
backups/verification
outputs/requests/
local/
scripts/scaling/scaled_step.step

backups/
.env